a {
  color: rgb(9, 141, 153);
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: rgb(3, 105, 114);
}

a:active {
  color: rgb(44, 156, 166);
}

::selection {
  color: white;
  background-color: rgb(30, 138, 172);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  overflow: hidden;
}

.header-image  {
  width: 100%
}

@media only screen and (min-width: 576px) {
  header {
    margin: 0 20%;
  }
}

.navigaatio ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.navigaatio li {
  margin-right: 3rem;
}

@media only screen and (min-width: 576px) {
  .navigaatio a {
    font-size: 1.5rem;
  }

  .navigaatio .nykyinen {
    font-size: 1.5rem;
  }
}


div.pad {
  padding: 0 2em 2em 2em;
}

footer {
  border-top: 1px black solid;
}

h1 {
  margin: 0;
  color: white;
  font-size: 4em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h2 {
  font-weight: 700;
  margin-top: 1em;
}

h1,
h2 {
  font-family: "Meddon", cursive;
  font-weight: normal;
  line-height: 150%;
}

p {
  margin-top: 0.5em;
  padding-top: 0;
  font-size: 1.3em;
  font-family: "Cardo", serif;
  line-height: 150%;
}

@media screen and (max-width: 35em) {
  h1 {
    font-size: 2.3em;
  }
}

@media screen and (max-width: 48.599em) {
  main div.text {
    width: 100%;
  }
}

@media not screen, screen and (min-width: 48.6em) {
  main div.text,
  footer div.text {
    width: 48.6em;
    margin: 0 auto 0 auto;
  }
}
